USER_NAME=username
PORT_PUMA=9292
MONGO_IMAGE_VER=latest
UI_APP_IMAGE_VER=latest
POST_APP_IMAGE_VER=latest
COMMENT_APP_IMAGE_VER=latest
NODE_EXPORTER_VER=v0.15.0
ALERTMANAGER_VER=latest
MONGO_EXPORTER_VER=latest
